<!DOCTYPE html>
{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<div class = "container">
  <div class="row justify-content-md-center">
    <div class = "col-md-6">
      <div class="">
        <form class="" method = 'POST' action= '' enctype = "multipart/form-data">{% csrf_token %}
          <h2 class="">{{title}}</h2>
          {{form.as_p }}
          <div class="d-grid gap-2">
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{title}}</button>
          </div>
          <br>
          {% if title == "Login" %}<h5>Not Registered? <a href = "/accounts/register">Register Here</a></h5>{% endif %}
          {% if title == "Register" %}<h5>Already Registered? <a href = "/accounts/login">Login Here</a></h5>{% endif %}
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}