<!DOCTYPE html>
{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<div class = "container py-3">
  <div class="row justify-content-md-center">
    <div class = "col-md-6">
      <div class="">
        <form class="" method = 'POST' action= '' enctype = "multipart/form-data">{% csrf_token %}
          <h2 class="">{{title}}</h2>
          {{form.as_p }}
          <div class="d-grid gap-2">
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ title }}</button>
          </div>
        </form>
        <div class="my-3">
          <a href="{% url 'forget' %}">Mot de passe oublié ?</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}