<!DOCTYPE html>
{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="fs-1 col-6"><a class="btn fs-1 p-0 m-0" href="{% url 'index' %}">Boite à coucou</a></div>
    <div class="col-6"><a href="{% url 'create-idea' %}" class="btn btn-outline-primary mt-3 float-end">Nouvelle idée</a></div>
</div>
<form action="{% if idea %}{% url 'edit-idea' idea.id %}{% else %}{% url 'create-idea' %}{% endif %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-2">
            <label class="input-group-text">{{ form.nom.label }}</label>
            {{ form.nom }}
        </div>
        <div class="input-group mb-2">
            {{ form.description }}
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text">{{ form.theme.label }}</label>
            {{ form.theme }}
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text">{{ form.categorie.label }}</label>
            {{ form.categorie }}
        </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Créer</button>
    </div>
</form>
{% endblock %}